.gameBoard{
    width: 600px;
    margin: 0 auto;


}

.picsGrid{
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    width: 100%;
    border: 2px solid red;

}

.picsGrid img {
    width: 150px;
    height: 150px;
}

h3{
    text-align: center;
    color: red;
    font-size: 30px;
}

p{
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
    
}
.wonMessage{
    color: yellow;
    font-size: 30px;
    /* text-shadow: 2px 2px 4px yellow; */
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-style: italic;
    
}



